<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <h1>ProductRatingApp by Mirkó Rácz</h1>
    <nav>
        <ul>
            <li><a href="@{/}">New Rating</a></li>
            <li><a href="#">Ratings</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Product Flavours</a></li>
            <li><a href="#">Flavours</a></li>
            <li><a th:href="@{/people}">People</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Brands</a></li>
        </ul>
    </nav>
</header>
</html>