<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <nav class="menu">
        <h1 class="menu-title">Product-Rating-App </h1>
        <ul class="menu-items">
            <li class="menu-item"><a href="/home">New Rating</a></li>
            <li class="menu-item">
                <a href="#">Tables</a>
                <ul>
                    <li><a th:href="@{/rating}">Ratings</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/product-flavours}">Product Flavours</a></li>
                    <li><a th:href="@{/flavours}">Flavours</a></li>
                    <li><a th:href="@{/people}">People</a></li>
                    <li><a th:href="@{/categories">Categories</a></li>
                    <li><a th:href="@{/brands}">Brands</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
</html>