<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
    <link rel="icon" type="image/png" th:href="@{/icons/C.png}">
    <script src="/scripts/confirmDelete.js"></script>
</head>
    <body>
        <div th:replace="~{_header :: header}"></div>
        <div class="alert-success" th:if="${status} == 'success'" style="background-color: green; color: black; padding: 5px">
            <strong> Action succeeded. </strong>
        </div>
        <div th:if="${status} == 'failed'" style="background-color: red; color: white; padding: 5px">
            <strong > Action failed. Try again later! </strong>
        </div>
        <main>
            <h3>Add a new category to the database:</h3>
            <hr class="gradient-line">
            <form th:action="@{/categories/add-category}" method="post">
                <label for="name">Name:</label>
                <input class="width-100" type="text" id="name" name="name" maxlength="50" required>
                <label for="description">Description:</label>
                <input class="width-100" type="text" id="description" name="description" maxlength="255">
                <button type="submit" class="addButton">Add</button>
            </form>
            <hr class="gradient-line">
            <h3>Categories already in the database:</h3>
            <table>
                <tr class="head">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.description}"></td>
                    <td>
                        <form th:action="@{/categories/delete-category}" method="post" onsubmit="return confirmDelete('category');">
                            <input type="hidden" name="category" th:value="${category.id}" />
                            <button type="submit" class="deleteButton">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </main>
        <div th:replace="~{_footer :: footer}"></div>
    </body>
</html>
