<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flavours</title>
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
        <link rel="icon" type="image/png" th:href="@{/icons/F.png}">
        <script src="/scripts/confirmDelete.js"></script>
    </head>
    <body>
        <div th:replace="~{_header :: header}"></div>
        <div class="alert-success" th:if="${status} == 'success'" style="background-color: green; color: black; padding: 5px">
            <strong> Action succeeded. </strong>
        </div>
        <div th:if="${status} == 'failed'" style="background-color: red; color: white; padding: 5px">
            <strong > Action failed. Try again later! </strong>
        </div>
        <main>
            <h3>Add a new flavour to the database:</h3>
            <hr class="gradient-line">
            <form th:action="@{/flavours/add-flavour}" method="post">
                <label for="name">Name:</label>
                <input class="width-100" type="text" id="name" name="name" maxlength="50" required>
                <button type="submit" class="addButton">Add</button>
            </form>
            <hr class="gradient-line">
            <h3>Flavours already in the database:</h3>
            <table>
                <tr class="head">
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                <tr th:each="flavour, flavourIndex : ${flavours}">
                    <td th:text="${flavour.id}"></td>
                    <td th:text="${flavour.name}"></td>
                    <td>
                        <form th:id="'deletion-form-' + ${flavourIndex.current.id}" th:action="@{/flavours/delete-flavour}" method="post">
                            <input type="hidden" name="flavour" th:value="${flavour.id}" />
                            <button type="button" th:onclick="showModal('flavour', [[${flavour.name}]], [[${flavourIndex}]])" class="deleteButton">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </main>
        <div th:replace="~{_confirmation-dialog :: body}"></div>
        <div th:replace="~{_footer :: footer}"></div>
    </body>
</html>
