<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ProductRatingApp - Home</title>
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
        <link rel="icon" type="image/png" th:href="@{/icons/B.png}">
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script th:src="@{/scripts/particlesApp.js}"></script>
    </head>
    <body>
        <div th:replace="~{_header :: header}"></div>
        <main>
            <h3>Home</h3>
            <p>On this page you can see some of the latest happenings on the app, as well as handy-dandy particle vortex, because why not?</p>
            <!-- Particles.js by Vincent Garreau -->
            <hr class="gradient-line">
            <div id="particles-js" style="position: relative;">
                <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                    To generate this vortex of particles I'm using <a href="https://github.com/VincentGarreau/particles.js/" target="_blank">particles.js</a>. :)
                </span>
            </div>
            <hr class="gradient-line">
            <div th:unless="${#lists.isEmpty(ratings)}">
                <h3>Latest three reviews</h3>
                <table>
                    <tr class="head">
                        <th>Person</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Taste</th>
                        <th>Smell</th>
                        <th>Remark</th>
                    </tr>
                    <tr th:each="rating : ${ratings}">
                        <td th:text="${rating.person.name}"></td>
                        <td th:text="${rating.product.name}"></td>
                        <td th:text="${rating.date}"></td>
                        <td th:text="${rating.taste}"></td>
                        <td th:text="${rating.smell}"></td>
                        <td th:text="${rating.remark}"></td>
                    </tr>
                </table>
            </div>

        </main>
        <div th:replace="~{_footer :: footer}"></div>
    </body>
</html>
