<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ProductRatingApp</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
    </head>
    <body>
        <div th:replace="~{_header :: header}"></div>
        <main>
            <section>
                <h2>Add a new rating for a product:</h2>
            </section>
        </main>

        <footer>
            <p>&copy; 2023 Mirkó Rácz. All rights reserved.</p>
        </footer>
    </body>
</html>
