<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
        <link rel="icon" type="image/png" th:href="@{/icons/P.png}">
        <script src="/scripts/confirmDelete.js"></script>
        <script src="/scripts/flavourTagController.js"></script>
    </head>
    <body>
        <div th:replace="~{_header :: header}"></div>
        <div class="alert-success" th:if="${status} == 'success'" style="background-color: green; color: black; padding: 5px">
            <strong> Action succeeded. </strong>
        </div>
        <div th:if="${status} == 'failed'" style="background-color: red; color: white; padding: 5px">
            <strong > Action failed. Try again later! </strong>
        </div>
        <main>
            <h3>Add a new product to the database:</h3>
            <hr class="gradient-line">
            <form th:action="@{/products/add-product}" method="post">
                <div class="form-row">
                    <label for="productName">Product Name:</label>
                    <input class="width-100" type="text" id="productName" name="productName" maxlength="50" required>
                    <div class="toggle-button">
                        <button id="toggleButton" class="toggle-btn toggle-food" type="button">Drink</button>
                        <input type="checkbox" id="isDrinkHidden" name="isDrink" class="toggle-input" style="display: none;" checked>
                    </div>
                </div>
                <div class="form-row">
                    <label for="brand">Brand:</label>
                    <select class="width-100" id="brand" name="brand">
                        <option value="" disabled selected>Select Brand</option>
                        <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="category">Category:</label>
                    <select class="width-100" id="category" name="category">
                        <option value="" disabled selected>Select Category</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <hr class="gradient-line">
                <!-- Hidden input for submitting product flavours with the form -->
                <input type="hidden" id="selected-flavors-input" name="selectedFlavors" />
                <!-- Tag system for flavour description -->
                <div class="col-100">
                    <div class="col-33 inline">
                        <input class="height-40px col-100" type="text" id="tag-input" placeholder="Search for flavors">
                    </div>
                    <div class="col-33 inline">
                        <select id="items-per-page-select" class="height-40px col-100">
                            <option>5</option>
                            <option selected>10</option>
                            <option>15</option>
                            <option>20</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="col-33 inline">
                        <button type="button" class="mainButton height-40px col-100" id="reset-filters-button">Reset Filters</button>
                    </div>
                </div>
                <div class="col-100">
                    <div class="flavour-container col-100">
                        <!-- Flavor Cards will be rendered here -->
                    </div>
                </div>
                <div class="col-100">
                    <div class="pagination-container">
                        <div class="pagination">
                            <!-- Pagination controls will be rendered here -->
                        </div>
                    </div>
                </div>
                <label for="selected-tags">Selected Flavours:</label>
                <div class="selected-tags" id="selected-tags"></div>
                <hr class="gradient-line">
                <button type="submit" class="addButton">Add</button>
            </form>
            <hr class="gradient-line">
            <h3>Products already in the database:</h3>
            <table>
                <tr class="head">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Is Drink?</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.brand.name}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.isDrink} ? 'Yes' : 'No'"></td>
                    <td>
                        <form th:action="@{/products/delete-product}" method="post" onsubmit="return confirmDelete('product');">
                            <input type="hidden" name="product" th:value="${product.id}" />
                            <button type="submit" class="deleteButton">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </main>
        <div th:replace="~{_footer :: footer}"></div>
        <script>
            // Get references to the button and the initial state
            const toggleButton = document.getElementById("toggleButton");
            let isDrink = true; // Initial state (true for "Drink")

            // Add a click event listener to the button
            toggleButton.addEventListener("click", function () {
            // Toggle the text and color of the button
            isDrink = !isDrink; // Toggle the boolean value
            toggleButton.textContent = isDrink ? "Drink" : "Food";
            toggleButton.classList.toggle("toggle-food");

            // Toggle the background image based on the state
            const drinkImage = '/images/drink_button_background.png';
            const foodImage = '/images/food_button_background.png';
            toggleButton.style.backgroundImage = isDrink ? `url('${drinkImage}')` : `url('${foodImage}')`;

            // Update the hidden checkbox input's checked state
            const checkbox = document.getElementById("isDrinkHidden");
            checkbox.checked = isDrink;
            });
        </script>
    </body>
</html>
