<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Flavours</title>
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
        <link rel="icon" type="image/png" th:href="@{/icons/PF.png}">
    </head>
    <body>
    <div th:replace="~{_header :: header}"></div>
    <div class="alert-success" th:if="${status} == 'success'" style="background-color: green; color: black; padding: 5px">
        <strong> Action succeeded. </strong>
    </div>
    <div th:if="${status} == 'failed'" style="background-color: red; color: white; padding: 5px">
        <strong > Action failed. Try again later! </strong>
    </div>
    <main>
        <h3>Add a new product flavour to the database:</h3>
        <hr class="gradient-line">
        <form th:action="@{/product-flavours/add-product-flavours}" method="post">
            <div class="form-row">
                <label for="product">Product:</label>
                <select class="width-100" id="product" name="product">
                    <option value="" disabled selected>Select Product</option>
                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name + ' (' + product.brand.name + ')'}"></option>
                </select>
            </div>
            <div class="form-row">
                <label for="flavour">Product:</label>
                <select class="width-100" id="flavour" name="flavour">
                    <option value="" disabled selected>Select Flavour</option>
                    <option th:each="flavour : ${flavours}" th:value="${flavour.id}" th:text="${flavour.name}"></option>
                </select>
            </div>
            <button type="submit" class="addButton">Add</button>
        </form>
        <hr class="gradient-line">
        <h3>Product-Flavour keypairs already in the database:</h3>
        <table>
            <tr class="head">
                <th>Brand</th>
                <th>Product</th>
                <th>Flavour</th>
            </tr>
            <tr th:each="productFlavour : ${productFlavours}">
                <td th:text="${productFlavour.product.brand.name}"></td>
                <td th:text="${productFlavour.product.name}"></td>
                <td th:text="${productFlavour.flavour.name}"></td>
                <td>
                    <form th:action="@{/product-flavours/delete-product-flavour}" method="post" onsubmit="return confirmDelete();">
                        <input type="hidden" name="product" th:value="${productFlavour.product.id}" />
                        <button type="submit" class="deleteButton">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <p>&copy; 2023 Mirkó Rácz. All rights reserved.</p>
    </footer>
    <script>
                function confirmDelete() {
                return confirm("Are you sure you want to delete this category?");
                }
            </script>
    </body>
</html>
