<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
    <link rel="icon" type="image/png" th:href="@{/icons/R.png}">
    <script src="/scripts/confirmDelete.js"></script>
    <script src="/scripts/productTagController.js"></script>
  </head>
  <body>
    <div th:replace="~{_header :: header}"></div>
    <div class="alert-success" th:if="${status} == 'success'" style="background-color: green; color: black; padding: 5px">
      <strong> Action succeeded. </strong>
    </div>
    <div th:if="${status} == 'failed'" style="background-color: red; color: white; padding: 5px">
      <strong > Action failed. Try again later! </strong>
    </div>
    <main>
      <h3>Add a new rating to the database:</h3>
      <hr class="gradient-line">
      <form th:action="@{/ratings/add-rating}" method="post">
        <div class="form-row">
          <label for="person">Person:</label>
          <select class="width-100" id="person" name="person">
            <option value="" disabled selected>Select Person</option>
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.name}"></option>
          </select>
        </div>
        <hr class="gradient-line">
        <div class="form-row">
          <!-- Hidden input for submitting product flavours with the form -->
          <input type="hidden" id="product-input" name="product" />
          <!-- Tag system for flavour description -->
          <div class="col-100">
            <div class="col-33 inline">
              <input class="height-40px col-100" type="text" id="tag-input" placeholder="Search for products">
            </div>
            <div class="col-33 inline">
              <select id="items-per-page-select" class="height-40px col-100">
                <option>5</option>
                <option selected>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
              </select>
            </div>
            <div class="col-33 inline">
              <button type="button" class="mainButton height-40px col-100" id="reset-filters-button">Reset Filters</button>
            </div>
          </div>
          <div class="col-100">
            <div class="product-container col-100">
              <!-- Product Cards will be rendered here -->
            </div>
          </div>
          <div class="col-100">
            <div class="pagination-container">
              <div class="pagination">
                <!-- Pagination controls will be rendered here -->
              </div>
            </div>
          </div>
          <label for="selected-tags">Selected Product:</label>
          <div class="selected-tags col-100" id="selected-tags"></div>
        </div>
        <hr class="gradient-line">
        <div class="form-row">
          <label for="taste">Taste:</label>
          <input class="width-100" type="number" id="taste" name="taste" min="1" max="10" required>
        </div>
        <div class="form-row">
          <label for="smell">Smell:</label>
          <input class="width-100" type="number" id="smell" name="smell" min="1" max="10" required>
        </div>
        <div class="form-row">
          <label for="remark">Remark:</label>
          <textarea type="text" id="remark" name="remark" style="width:100%"></textarea>
        </div>
        <div class="form-row">
          <button type="submit" class="addButton">Add</button>
        </div>
      </form>
      <hr class="gradient-line">
      <h3>Ratings already in the database:</h3>
      <table>
        <tr class="head">
          <th>Person</th>
          <th>Product</th>
          <th>Date</th>
          <th>Taste</th>
          <th>Smell</th>
          <th>Remark</th>
        </tr>
        <tr th:each="rating, ratingIndex : ${ratings}">
          <td th:text="${rating.person.name}"></td>
          <td th:text="${rating.product.name}"></td>
          <td th:text="${#dates.format(rating.date, 'yyyy-MM-dd')}"></td>
          <td th:text="${rating.taste}"></td>
          <td th:text="${rating.smell}"></td>
          <td th:text="${rating.remark}"></td>
          <td>
            <form th:id="${ratingIndex.index}" th:action="@{/ratings/delete-rating}" method="post">
              <input type="hidden" name="personId" th:value="${rating.person.id}" />
              <input type="hidden" name="productId" th:value="${rating.product.id}" />
              <button type="button" class="deleteButton" th:onclick="showModal('rating', [[${rating.product.name}]] + ' - ' + [[${rating.person.name}]], [[${ratingIndex.index}]])">Delete</button>
            </form>
          </td>
        </tr>
      </table>
    </main>
    <div th:replace="~{_confirmation-dialog :: body}"></div>
    <div th:replace="~{_footer :: footer}"></div>
  </body>
</html>