<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
  </head>
  <body>
    <div th:replace="~{_header :: header}"></div>
    <div class="alert-success" th:if="${status} == 'success'" style="background-color: green; color: black; padding: 5px">
      <strong> Action succeeded. </strong>
    </div>
    <div th:if="${status} == 'failed'" style="background-color: red; color: white; padding: 5px">
      <strong > Action failed. Try again later! </strong>
    </div>
    <main>
      <h3>Add a new rating to the database:</h3>
      <form th:action="@{/ratings/add-rating}" method="post">
        <div class="form-row">
          <label for="person">Person:</label>
          <select id="person" name="person" class="form-control">
            <option value="" disabled selected>Select Person</option>
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.name}"></option>
          </select>
          <label for="product">Product:</label>
          <select id="product" name="product" class="form-control">
            <option value="" disabled selected>Select Product</option>
            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name + ' (' + product.brand.name + ')'}"></option>
          </select>
          <label for="taste">Taste:</label>
          <input type="number" id="taste" name="taste" min="1" max="10" style="width:10%" required>
          <label for="smell">Smell:</label>
          <input type="number" id="smell" name="smell" min="1" max="10" style="width:10%" required>
        </div>
        <div class="form-row">
          <label for="remark">Remark:</label>
          <textarea type="text" id="remark" name="remark" style="width:100%"  required></textarea>
        </div>
        <div class="form-row">
          <button type="submit" class="addButton">Add</button>
        </div>
      </form>
      <table>
        <tr class="head">
          <th>Person</th>
          <th>Product</th>
          <th>Date</th>
          <th>Taste</th>
          <th>Smell</th>
          <th>Remark</th>
        </tr>
        <tr th:each="rating : ${ratings}">
          <td th:text="${rating.person.name}"></td>
          <td th:text="${rating.product.name}"></td>
          <td th:text="${rating.date}"></td>
          <td th:text="${rating.taste}"></td>
          <td th:text="${rating.smell}"></td>
          <td th:text="${rating.remark}"></td>
          <td>
            <form th:action="@{/products/delete-product}" method="post" onsubmit="return confirmDelete();">
              <input type="hidden" name="rating" th:value="${rating.id}" />
              <button type="submit" class="deleteButton">Delete</button>
            </form>
          </td>
        </tr>
      </table>
    </main>
    <footer>
      <p>&copy; 2023 Mirkó Rácz. All rights reserved.</p>
    </footer>
    <script>
        function confirmDelete() {
        return confirm("Are you sure you want to delete this category?");
        }
    </script>
  </body>
</html>